In [1]:
#remove() inbuilt function
list1=[1,2,4,6,10]

In [2]:
list1.remove(4)

In [3]:
print(list1)

[1, 2, 6, 10]

In [4]:
#count() inbuilt function
list2=[2,2,5,6,4,8,8]

In [5]:
list2.count(2)

2

In [6]:
#clear() inbuilt function
list3=[2,2,5,6,4,4]

In [10]:
list3.clear()

In [11]:
print(list3)

[]

In [12]:
#sort() inbuilt function.
list4=[2,6,8,9,2]

In [13]:
list4.sort()

In [14]:
print(list4)

[2, 2, 6, 8, 9]

In [15]:
#reverse() inbuilt function
list5=[6,5,4,3,2,1]

In [16]:
list5.reverse()

In [17]:
print(list5)

[1, 2, 3, 4, 5, 6]

In [18]:
#create a list of length=10 and access 5th to 8th data.
list=[1,2,3,4,5,6,7,8,9,10]

In [20]:
list[4:8:]

[5, 6, 7, 8]