In [1]:
#To add elements to tuple.
tup1=(1,2,"Ram","Shyam")
tup2=("Harry",)
tup3=tup1+tup2

In [2]:
print(tup3)

(1, 2, 'Ram', 'Shyam', 'Harry')

In [3]:
#To convert in list.
list1=list(tup3)

In [4]:
print(list1)

[1, 2, 'Ram', 'Shyam', 'Harry']

In [5]:
#To remove "Ram from list2"
list2=list1.pop(2)

In [6]:
print(list2)

Ram

In [ ]:
print(list)